numpy==1.23.3
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.1
xgboost==1.7.4
plotly==5.13.1
openpyxl==3.1.2



git clone https://github.com/yourusername/your-repository-name.git
cd your-repository-name

python -m venv venv
.\venv\Scripts\activate

python3 -m venv venv
source venv/bin/activate
pip install -r requirements.txt
